.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid black;
  padding: 0 3rem;

  .boxLogo {
    .imgLogo {
      height: 150px;
    }
  }
  .informacaoDoDia {
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0 30px;

    gap: 1rem;
    h4 {
      font-size: 1.3rem;
      text-align: right;
    }
    p {
      font-weight: bold;
      color: green;
    }
  }
  button {
    background: transparent;
    font-size: 1.2rem;
    font-weight: bold;
    height: 60px;
    padding: 0 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
    &:hover {
      color: #fff;
      background-color: #0000ff;
    }
  }
}
.caixa {
  .titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    padding: 1rem;
    border-bottom: 2px solid #000;
  }
  .boxCarrinho {
    width: 100vw;
    display: flex;
    padding: 60px 100px;
    gap: 200px;
    .comandos {
      .Codigo {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-bottom: 2rem;

        span {
          font-size: 3rem;
          font-weight: bold;
        }
        input {
          font-size: 1.6rem;
          padding: 5px 20px;
          outline: none;
          border-radius: 10px;
        }
      }
      p {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 2rem;
        span {
          font-weight: normal;
          color: green;
        }
      }
      .recebido {
        font-size: 1.5rem;
        font-weight: bold;
        input {
          font-size: 1.3rem;
          margin-left: 1rem;
          margin-bottom: 2rem;
          padding: 5px 15px;
        }
      }
      button {
        background-color: #fff;
        font-size: 2rem;
        padding: 10px 20px;
        border-radius: 10px;
        font-weight: bold;
        cursor: pointer;
        transition: .5s;
        &:hover {
          background-color: #0000ff;
          color: #fff;
        }
      }
    }
  }
}
